@use 'variables' as v;
@use 'mixins' as m;

.about-section {
    padding: 100px 0 0 0;

    .about {
        margin: 0 auto;
        width: 100%;
        height: 400px;
        padding: 0 0 0 100px;
        @include m.d-flex(start, center, nowrap, row, 40px, 0);

        &__content {
 

             h1 {
                @include m.font(36px, 700, v.$color_blue);
            }

            &-description {
                margin: 10px 0 0 0;
                max-width: 600px;
                @include m.font(24px, 400, v.$color_black);
            }

            &-button {
                margin: 20px 0 0 0;
                width: 200px;
                height: 60px;
       

                border: none;
                background: v.$color-blue;
                border-radius: 45px;
                @include m.font(16px, 700, v.$color_white);
            }

        }

        &__img-preview {
            width: 600px;
            border-radius: 20px;
        }
    }
}