@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.about-section {
  padding: 100px 0 0 0;

  .about {
    margin: 0 auto;
    width: 100%;
    height: 320px;
    padding: 0 50px 0 50px;
    @include m.d-flex(start, center, nowrap, row, 40px, 0);

    &__content {
      h1 {
        @include m.font(36px, 700, v.$color_blue);
      }

      &-description {
        margin: 10px 0 0 0;
        max-width: 600px;
        @include m.font(24px, 400, v.$color_black);
      }

      &-button {
        @extend %blue-btn;
      }
    }

    &__img-preview {
      width: 600px;
      border-radius: 20px;
    }
  }

  @media (max-width: v.$media_xxl) {
    .about {
      &__content {
        h1 {
          font-size: 32px;
        }

        &-description {
          font-size: 22px;
        }
      }

      &__img-preview {
        width: 560px;
      }
    }
  }

  @media (max-width: v.$media_xl) {
    .about {
      &__img-preview {
        width: 400px;
      }
    }
  }

  @media (max-width: v.$media_lg) {
    .about {
      &__content {
        h1 {
          font-size: 24px;
        }

        &-description {
          font-size: 18px;
        }
      }

      &__img-preview {
        width: 300px;
      }
    }
  }

  @media (max-width: v.$media_md) {
    .about {
      @include m.d-flex(center, center, wrap, row, 40px, 20px);
      &__content {
          margin-top: 100px;
      }

      &__img-preview {
        position: absolute;
        top: 0;
        margin-top: 20px;
        width: 400px;
      }
    }
  }
}
