@use 'variables' as v;
@use 'mixins' as m;
@use "placeholders";

.about-section {
    padding: 100px 0 0 0;

    .about {
        margin: 0 auto;
        width: 100%;
        height: 320px;
        padding: 0 50px 0 50px;
        @include m.d-flex(start, center, nowrap, row, 40px, 0);

        &__content {
 

             h1 {
                @include m.font(36px, 700, v.$color_blue);
            }

            &-description {
                margin: 10px 0 0 0;
                max-width: 600px;
                @include m.font(24px, 400, v.$color_black);
            }

            &-button {
                @extend %blue-btn;
            }

        }

        &__img-preview {
            width: 600px;
            border-radius: 20px;
        }
    }
}