@use "variables" as v;
@use "mixins" as m;
@use "placeholders";



.absorber-section {
    padding: 80px 0 80px 0;

    .absorber {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__content {
            margin-top: 20px;
            margin-bottom: 20px;
            @include m.font(18px, 400, v.$color_gray);
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        &__images-preview {
            @include m.d-flex(space-evenly, center, wrap, row, 20px, 20px);
        }

        &__img-sketch {
            height: 100%;
            max-height: 300px;
            // border-radius: 8px;
            // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            align-self: center;
        }

    }

}
