@use 'variables' as v;


* {
    box-sizing: border-box;
    color: v.$color-black;
    margin: 0;
    padding: 0;

    // outline: 1px dotted blue; /* Покажет все элементы */
}

html {
    height: 100%;
}

body {
    background-color: v.$color-white;
    font-family: v.$font-family;
    min-height: 100vh;
    // border: 5px solid red !important; /* Увидите границы body */
    // background-color: rgba(255,0,0,0.1) !important;
    display: flex;
    flex-direction: column;
    

}

main {
    flex: 1;
    .sections-wrapper {
    max-width: v.$media_xxl;
    margin: 0 auto;
    position: relative;
    }

    
    .sections-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url("../../assets/img/main/lines.webp") left top no-repeat;
        opacity: 0.15; /* 20% transparency */
        z-index: -1;
    }

}

a {
    text-decoration: none;
    color: unset;
    background-color: none;
}

li {
    list-style: none;
}

figure, blockquote {
    margin: 0;
    width: 100%;
}

hr {
    margin: 0;
    width: 100%;
}

.container {
    max-width: v.$media_xxl;
    margin: 0 auto;
}