@use 'variables' as v;


* {
    box-sizing: border-box;
    color: v.$color-black;
}

body {
    background-color: v.$color-white;
    font-family: v.$font-family;
}

h1, h2, h3, h4, h5, h6, ul, p, button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: unset;
}

li {
    list-style: none;
}

figure, blockquote {
    margin: 0;
    width: 100%;
}

hr {
    margin: 0;
    width: 100%;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}