@use 'variables' as v;
@use 'mixins' as m;

.info-card {
    width: 250px;
    height: 360px;
    @include m.d-flex(flex-start, center, nowrap, column, 0, 10px);
    margin: 0 20px 0 20px;
    
    border-radius: 20px;

    &:hover {
        box-shadow: 0 8px 20px 12px rgba(0,0,0,.15);
        transition: all 0.15s ease-in-out;

        .info-card {
            
            &__link {
            font-size: 20px;
            transition: all 0.1s ease-in-out;
            }

            &__icon {
                fill: v.$color_gray;
                stroke: v.$color_black;
            // transform: scale(1.1);
            // box-shadow: inset 0 8px 20px 12px rgba(0,0,0,.05);
                transition: all 0.2s ease-in-out;
            }

            &__title {
                color: v.$color_black;
                transition: all 0.2s ease-in-out;
            }
        }
    }

    &__icon {
        width: 200px;
        fill: v.$color_blue;
        stroke: v.$color_blue;
    }

    &__title {
        @include m.font(28px, 600, v.$color_gray);
        margin-top: 15px;
    }

    &__description {
        @include m.font(20px, 400, v.$color_black);
        text-align: center;
    }

    &__link {
        margin-top: auto;
        margin-bottom: 10px;
        padding: 5px 0;
        @include m.font(18px, 700, v.$color_blue);

        &:hover {
            cursor: pointer;
            color: v.$color_black;
        }
    }

    .icon--absorber {
        transform: translateY(22px);
    }

    .icon--lens {
        transform: translateY(12px);
    }

    .icon--resonator {
        transform: translateY(10px);
    }
}

.product-card {
    width: 380px;
    height: 400px;
    margin: 0 20px 80px 20px;
    @include m.d-flex(flex-start, center, nowrap, column, 10px, 10px);
    background-color: v.$color_white;

    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 8px 20px 12px rgba(0,0,0,.15);
    position: relative; 

    &__icon {
        stroke: v.$color_blue;
        position: absolute;
        top: 17px;
        left: 20px;
        width: 30px;
        height: 30px;
        scale: 1.5;
    }

    hr {
        width: 80%;
        border: 0;
        height: 1px;
        background-color: v.$color_gray;
    }
    

    &__img-preview {
        height: auto;
        width: 100%;
        object-fit: contain;
        aspect-ratio: 15 / 10;
    }
    
    &__title {
        @include m.font(20px, 600, v.$color_blue);
        text-align: center;
        margin-top: 10px;
    }
    
    &__description {
        @include m.font(16px, 400, v.$color_black);
        text-align: left;
        padding: 0 20px 0 20px;
        flex-grow: 1;
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0 8px 20px 12px rgba(0,0,0,.1);
        scale: 1.05;
        transition: all 0.1s ease-in-out;

        .product-card__title {
            @include m.font(20px, 600, v.$color_black);
            // transition: all 0.1s ease-in-out;
        }
    }
}