@use "variables" as v;
@use "mixins" as m;
@use "placeholders";



.contact-section {
    padding: 80px 0 80px 0;

    .contact {
        max-width: 1030px;
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__content {
            text-align: center;
            @include m.font(22px, 600, v.$color-black);
            margin: 30px 0 50px 0;
        }

        &__form {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            max-width: 720px;
            margin: 0 auto;
            
            gap: 20px;
        }

        &__form-input {
            width: 350px;
            padding: 18px 20px;
            border-radius: 10px;
            border: none;
            background-color: v.$color_light-gray;
            @include m.font(16px, 400, v.$color-black);
            font-family: v.$font-family;
        }

        &__form-textarea {
            width: 100%;
            height: 250px;
            padding: 18px 20px;
            border-radius: 10px;
            border: none;
            background-color: v.$color_light-gray;
            @include m.font(16px, 400, v.$color-black);
            font-family: v.$font-family;
            resize: none;
        }

        &__form-button {
            @extend %blue-btn;
            margin: 0 auto;
            margin-top: 20px;
        }

    }
}