@use 'variables' as v;
@use 'mixins' as m;

.footer-section {
    margin: 0;
    background-color: v.$color_dark-black;

    hr{
    //    margin: 60px 0 38px 0;
       width: 100%;
    //    border: 0;
       height: 1px;
       
    }

        .footer {
        width: 100%;
        height: 100%;
        padding: 0 0 38px 0;
        

        &__terms {
            margin: 36px 0 0 0;
            @include m.d-flex(center, flex-start, nowrap, column, 10px, 10px);
            &-link, &-rights {
                
                @include m.font(14px, 400, v.$color_white);
                
            }

            &-rights {
                padding: 36px 0 0 0;
            }
        }

    }
    
}
