@use "variables" as v;
@use "mixins" as m;

.footer-section {
  margin: 0;
  background-color: v.$color_dark-black;

  .footer {
    // margin-top: 80px;
    width: 100%;
    height: 100%;
    @include m.d-flex(center, center, wrap, column, 10px, 10px);

    &__up {
      width: 100%;
      height: 60px;
      padding: 10px 50px 10px 50px;
      @include m.d-flex(space-between, top, nowrap, row, 10px, 10px);
      line-height: 150%;

      a {
        color: v.$color_white;
      }

      .nav__title {
        position: relative;
        z-index: 2;
        width: 380px;
        flex-shrink: 0;
        color: v.$color_white;
        font-size: 36px;
        font-weight: 500;

        span {
          color: v.$color_white;
        }

        &-icon {
          margin: 12px 0 0 0;
          stroke: v.$color_white;
          width: 25px;
          height: 25px;
          scale: 1.32;
          // transform: translateY(0px);
        }
      }

      .nav__links-1,
      .nav__links-2,
      .nav__links-3 {
        color: v.$color_white;
        font-size: 16px;
        font-weight: 400;
      }

      .contacts {
        h6 {
          color: v.$color_white;
          font-size: 16px;
          font-weight: 500;
        }

        p {
          color: v.$color_white;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }

    &__down {
      @include m.d-flex(start, center, nowrap, column, 10px, 10px);
      width: 100%;
      height: 50px;
      // padding: 20px 50px 30px 50px;

      &-line {
        width: min(100%, (v.$media_xxl - 90px));
        flex-shrink: 0;
        border: 1px solid v.$color_gray;
      }

      &-rights {
        width: 100%;
        display: flex;
        justify-content: start;
        color: v.$color_white;
        font-size: 14px;
        font-weight: 300;
        padding-left: 50px;
        // margin-bottom: 20px;
      }
    }
  }

  @media (max-width: v.$media_lg) {
    .footer {
      &__up {
        .nav__title {
          display: none;
        }
      }
    }
  }

  @media (max-width: v.$media_sm) {
    .footer {
      &__up {
        .nav__links-1,
        .nav__links-2,
        .nav__links-3 {
          display: none;
        }
      }
    }
  }
}
