@use "variables" as v;
@use "mixins" as m;
@use "placeholders";
@use "sass:color";

.header {
  height: 50px;

  .nav {
    height: 50px;
    @include m.d-flex(start, center);

    &__title {
      height: 100%;
      @include m.d-flex(center, center);

      &:hover {
        cursor: pointer;
        .nav__title-link,
        span {
          color: v.$color_black;
        }
        .nav__title-icon {
          stroke: v.$color_black;
        }
      }

      &-link {
        flex-grow: 1;
        font-size: 36px;
        font-weight: 500;
        color: v.$color_blue;

        span {
          font-weight: 700;
          color: v.$color_gray;
        }
      }
      a {
        @include m.d-flex(center, center);
      }

      &-icon {
        stroke: v.$color_blue;
        width: 30px;
        height: 30px;
        scale: 1.32;
        transform: translateY(3px);
      }
    }

    &__links {
      flex-grow: 1;

      .list {
        margin: 0;
        @include m.d-flex(start, center, nowrap, row, 40px, 0);
        padding: 0 0 0 min(100px, 5vw);

        &__item {
          &-link {
            font-size: 22px;
            font-weight: 500;
            color: v.$color_blue;
            @extend %hover-black;
          }
        }
      }
    }

    .lang {
      @include m.d-flex(start, center);
      &__ru,
      &__en {
        font-size: 18px;
        font-weight: 500;
        color: v.$color-blue;
        padding: 0 2px;
        @extend %hover-black;
      }
    }
  }

  @media (max-width: v.$media_xxl) {
    .nav {
      max-width: 1200px;

      &__title {
        &-link {
          font-size: 26px;
        }

        &-icon {
          stroke: v.$color_blue;
          width: 30px;
          height: 30px;
          scale: 1.1;
          transform: translateY(2px);
        }
      }

      &__links {
        .list {
          padding: 0 0 0 min(100px, 2vw);
          &__item {
            &-link {
              font-size: 18px;
            }
          }
        }
      }

      .lang {
        &__ru,
        &__en {
          font-size: 16px;
          padding: 30px 2px;
        }
      }
    }
  }

  @media (max-width: v.$media_xl) {
    .nav {
      max-width: 800px;

      &__title {
        display: none;
      }
    }
  }

  @media (max-width: v.$media_md) {
    .nav {
      max-width: 800px;

      &__title {
        padding-top: 5px;
        padding-left: 10px;
        display: block;

        &-link {
          flex-grow: 1;
          font-size: 36px;
        }

        &-icon {
          stroke: v.$color_blue;
          width: 30px;
          height: 30px;
          scale: 1.32;
          transform: translateY(3px);
        }
      }

      &__links {
        display: none;
      }

      .lang {
        display: none;
      }
    }
  }
}
