@use "variables" as v;
@use "mixins" as m;
@use "placeholders";



.lens-section {
    padding: 80px 0 80px 0;

    .lens {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__content {
            margin-top: 20px;
            margin-bottom: 20px;
            @include m.font(18px, 400, v.$color_gray);
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;

          
        }

        &__description {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            max-width: 1160px;
            width: 100%;
            text-align: justify;
        }

        &__images-preview {
            padding-top: 20px;
            padding-bottom: 20px;
            @include m.d-flex(center, center, wrap, row, 60px, 60px);
        }

        &__img-sketch {
            height: 100%;
            max-height: 260px;
            border-radius:50px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            align-self: center;
        }

    }

}
