@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.partners-section {
    padding: 80px 0 0 0;

    

    .partners {
        max-width: v.$media_xl;
        margin: 0 auto;

        // TODO: Using Pseudo-elements (::before or ::after)

        &__title {
            @extend %h2-style;
            position: relative;
            z-index: 2;
        }

        &__logos-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 40px;
            padding: 80px 0 0 0;
            justify-items: center;
            align-items: center;

            a {
                color: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
            }
            
            img {
                z-index: 1;
                max-height: 100px;
                width: auto;
                background-color: none;
                object-fit: contain;
            }

            .partners__logo {
                // object-fit: contain;


                &_unn {
                    height: 70px;
                }

                &_niikam {
                    height: 70px;
                }

                &_sao {
                    height: 80px;
                }
            }
        }
    }
}
