@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.partners-section {
    padding: 80px 0 0 0;

    .partners {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__logos-wrapper {
            padding: 80px 0 0 0;
            
            img {
                // max-width: 200px;
                max-height: 130px;
            }

            .partners__logo {
                object-fit: contain;


                &_iap {
                    fill: v.$color_blue;
                    stroke: v.$color_blue;
                }
            }
        }
    }
}
