@use "variables" as v;
@use "mixins" as m;

%h2-style {
    @include m.font(46px, 700, v.$color_blue);
    text-align: center;
}

%hover-black {
    &:hover {
        cursor: pointer;
        color: v.$color_black;
    }
}

%blue-btn {
    margin: 20px 0 0 0;
    width: 200px;
    height: 60px;


    border: none;
    background: v.$color-blue;
    border-radius: 45px;
    @include m.font(18px, 700, v.$color_white);
    
    &:hover {
        cursor: pointer;
        box-shadow: 0 8px 20px 12px rgba(0, 0, 0, 0.05);
        background: lighten(v.$color_blue, 5%);
    }
}