@use "variables" as v;
@use "mixins" as m;
@use "placeholders";


.production-section {
    padding: 80px 0 0 0;
    
    .production {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__cards-wrapper {
        
        margin: 0 0 0 0;
        max-width: 100%;

        @include m.d-flex(space-between, center, wrap, row, 0, 0);
        }
    }
} 