@use "variables" as v;
@use "mixins" as m;
@use "placeholders";

.research-section {
  padding: 80px 0 0 0;

  .research {
    margin: 0 auto;

    &__title {
      @extend %h2-style;
    }

    &__cards-wrapper {
      margin: 50px 0 0 0;
      max-width: 100%;

      @include m.d-flex(space-between, center, wrap, row, 20px, 0);
    }
  }

  @media (max-width: v.$media_xl) {
    .research {
      &__cards-wrapper {
        justify-content: center;
      }
    }
  }
}
