@use "variables" as v;
@use "mixins" as m;
@use "placeholders";



.team-section {
    padding: 80px 0 80px 0;

    .team {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }

        &__content {
            margin-top: 80px;
            margin-bottom: 20px;
            @include m.font(18px, 400, v.$color_gray);
        }

        &__employees-list {
            @include m.d-flex(left, left, wrap, column, 30px, 30px);
        }
    }

}
