@use "variables" as v;
@use "mixins" as m;
@use "placeholders";



.team-section {
    padding: 80px 0 80px 0;

    .team {
        margin: 0 auto;

        &__title {
            @extend %h2-style;
        }
    }

}
