$font-family: "Montserrat", sans-serif; 

$color_blue: #0E86D4;
$color-white: #FFFFFF;
$color-black: #434141;
$color_gray: #5A5A5A;
$color_dark-black: #1C1C1C;

$media_xxl: 1400px;
$media_xl: 1200px;
$media_lg: 992px;
$media_md: 768px;
$media_sm: 576px;
$media_min: 428px;